@import 'reset.css';


html , body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 13.333333vw;
    height: 100%;
}

body {
    font-size: .24rem;
}